.container{
    display: grid;
    grid-template-columns: 116px 1fr  86px;
    grid-template-rows: auto;
    grid-template-areas: "brand         .       cart"
                         "search     search     search  "
                         "categories categories categories";
    grid-gap: 16px;
    padding: 32px 28px 20px 20px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.brandArea{
    max-width: 112px;
    grid-area: brand;
}
.searchArea{
    grid-area: search;
}
.categoriesArea{
    grid-area: categories;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.cartArea{
    grid-area: cart;grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: center;

}

@media (min-width: 600px) {
    .container{
        grid-template-columns: 116px auto auto 86px;
        grid-template-areas: "brand    search     categories       cart";
        padding: 16px 24px;
        /* max-width: 1200px; */
    }
  }