.container{
    display: grid;
    align-items: center;
    grid-template-columns: 116px 1fr  minmax(86px, auto) ;
    grid-template-rows: auto;
    grid-template-areas: "brand         .       cart"
                         "search     search     search  "
                         "categories categories categories";
    grid-gap: 16px;
    padding: 32px 28px 20px 20px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.brandArea{
    max-width: 112px;
    grid-area: brand;
}
.searchArea{
    grid-area: search;
}
.categoriesArea{
    grid-area: categories;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.cartArea{
    grid-area: cart;grid-template-columns: auto auto;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-gap: 8px;
}

.userContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 4px;
}
.userContent a,
.userContent button{
    color: var(--color-bg-dark);
    background: var(--color-grey);
    border-radius: 38px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 16px 16px;
    cursor: pointer;
}
.userContent a:hover,
.userContent button:hover{
    background: var(--color-active-hover);
    transition: background-color 0.5s ;
}



@media (min-width: 600px) {
    .container{
        grid-template-columns: auto  minmax(100px,1fr)  auto minmax(86px, auto) ;
        grid-template-areas: "brand    search     categories       cart";
        padding: 16px 24px;
        max-width: 1200px;
        margin: auto;
    }
}