.listContainer{
    width: 100%;
    height: 100%;

    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: repeat(2,1fr);
    padding: 0;
    grid-gap: 18px;
    box-sizing: border-box;
}

/* desktop sizes */
@media (min-width: 1000px) {
    .listContainer{
        padding: 32px 0;
    }
}

@media (min-width: 1000px) {

    .listContainer{
        max-width: 1200px;
        grid-template-columns: repeat(3,1fr);
        padding: 32px 0;
        grid-gap: 24px;
    }

}