.loginLogo{
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 16vh;
}
.loginBg{
    width: 100%;
    max-width: 600px;
    height: calc(100vh - 623px + 50px);
    margin: 0 auto -50px  auto;
    background-color: rgba(255, 0, 0, 0.046);
    background-image: url(https://images.unsplash.com/photo-1516762689617-e1cffcef479d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=411&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 1;
}
.loginCard{
    max-width: calc(600px - 48px);
    margin: auto;
    background-color: var(--color-bg-dark);
    color: white;
    padding: calc(96px - 34px) 24px 48px 24px;
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 2;
}

@media (min-width: 600px) {
    .loginCard{
        border-radius: 50px 50px 0 0;
    }
}