.alertS{
    position: sticky;
    bottom: 0;
    border-radius:  4px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--color-active);
    color: var(--color-bg-dark);
    padding: 2px 0;
    transform: all .3s;
}

.alertError{
    position: sticky;
    bottom: 0;
    border-radius:  4px;
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--color-grey);
    padding: 2px 0;

    background: rgba(12, 12, 12, 0.2);
    border: 1px solid #E77474;
    backdrop-filter: blur(2px);
}