.cartContainer{
    /* background-color: red; */
    position: relative;
}

.counterProducts{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    position: absolute;
    left: 12px;
    top: -7.75px;
    background: var(--color-active);
    border-radius: 50px;
    color: var(--color-bg-dark);

}

