.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.cartEmpty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.counterProducts{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    gap: 24px;
    background: var(--color-active);
    border-radius: 50px;
    font-weight: 700;

}

.cartListS{
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    margin: auto;
    height: 100%;
    position: sticky;
    right: 0;
    left: 0;
    /* bottom: 0; */

    background-color: var(--color-bg-dark);
    padding:  64px 22px;
    color: var(--color-grey);
    display: flex;
    flex-direction: column;
    gap: 48px;
    border-radius: 50px;
}

.totalAmount{
    width: 100%;
    height: 100%;
    background-color: var(--color-active);
    color: var(--color-bg-dark);
    padding: 24px 36px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    
}
.totalAmount span{
    font-weight: 700;
    font-size: 24px;
}