.categoriesListS{
    min-width: "100%";
    width: 100%;
    min-height: 58px;
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    align-items: center;
    align-content: center;
    gap: 8px;
    padding: 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
}

/* width */
.categoriesListS::-webkit-scrollbar {
    width: 4px;
    /* height: 6px; */
    height: 0px;
    border-radius: 50px;
} 

/* Track */
.categoriesListS::-webkit-scrollbar-track {
    /* background: var(--color-grey); */
    background: rgba(36, 37, 35, 0); 
    border-radius: 50px;
}

/* Handle */
.categoriesListS::-webkit-scrollbar-thumb {
    background: rgba(36, 37, 35, 0); 
    /* background: rgb(36, 37, 35);  */
    border-radius: 50px;
}

/* Handle on hover */
.categoriesListS::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0); 
    /* background: rgb(0, 0, 0);  */
    border-radius: 50px;
    height: 8px;
}

@media (min-width: 600px) {
    .categoriesListS{
        /* overflow-x: hidden; */
        justify-content: flex-end;
        /* background-color: red; */
    }
} 

/* @container (min-width: 400px) {
    .categoriesListS {
        background-color: red;
    }
} */