:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --color-grey: #F7F6F9; 
  --color-active: #EDBEEA;
  --color-active-hover: rgba(233, 200, 230, 0.8);
  --color-bg-dark: #1A1A1A;
  --color-bg-dark-less: #1a1a1ac9;

  --subtitle: 1.4 rem;
  --description: 0.8 rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);  
  color: var(--color-bg-dark);
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

input,
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
   -webkit-appearance: button; /* for input */
     -moz-user-select: none;
      -ms-user-select: none;
      outline: none;
}
.unstyle {
  all: unset;
}
.marginflex{
  margin: auto;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: linear-gradient(180deg, #FFFFFF 0%, #EBEBEB 100%);  
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-grey );
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.53) 10%);
  }
} */
