.searchBarContainer{
    width: 100%;
    min-height: 60px;
    background-color: var(--color-grey);
    border-radius: 50px;
    max-width: 600px;
    /* min-width: 300px; */
    display: flex;
    align-content: center;
}
.searchIcon{
    padding: 0 8px 0 18px;
    border-radius: 50px;
}
.searchInput{
    height: 100%;
    min-height: 60px;
    width: calc(100% - 40px);
    padding-right: 18px;
    border-radius: 50px;
}


@media (min-width: 600px) {
    .searchBarContainer{
        max-width: 400px;
    }
}